<div>
  <h2 id="page-heading" data-cy="CategoryHeading">
    <span jhiTranslate="jhipsterSampleApplicationApp.category.home.title">Categories</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.category.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-category"
        [routerLink]="['/category/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.category.home.createLabel"> Create a new Category </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="categories?.length === 0">
    <span jhiTranslate="jhipsterSampleApplicationApp.category.home.notFound">No categories found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="categories && categories.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.category.welcome">Welcome</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.category.description">Description</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.category.sortOrder">Sort Order</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.category.dateAdded">Date Added</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.category.dateModified">Date Modified</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.category.status">Status</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.category.product">Product</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/category', category.id, 'view']">{{ category.id }}</a>
          </td>
          <td>{{ category.welcome }}</td>
          <td>{{ category.description }}</td>
          <td>{{ category.sortOrder }}</td>
          <td>{{ category.dateAdded | formatMediumDate }}</td>
          <td>{{ category.dateModified | formatMediumDate }}</td>
          <td jhiTranslate="{{ 'jhipsterSampleApplicationApp.CategoryStatus.' + category.status }}">{{ category.status }}</td>
          <td>
            <div *ngIf="category.product">
              <a [routerLink]="['/product', category.product?.id, 'view']">{{ category.product?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/category', category.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/category', category.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(category)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
