<div>
  <h2 id="page-heading" data-cy="WishListHeading">
    <span jhiTranslate="jhipsterSampleApplicationApp.wishList.home.title">Wish Lists</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.wishList.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-wish-list"
        [routerLink]="['/wish-list/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.wishList.home.createLabel"> Create a new Wish List </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="wishLists?.length === 0">
    <span jhiTranslate="jhipsterSampleApplicationApp.wishList.home.notFound">No wishLists found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="wishLists && wishLists.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.wishList.title">Title</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.wishList.restricted">Restricted</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.wishList.customer">Customer</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let wishList of wishLists; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/wish-list', wishList.id, 'view']">{{ wishList.id }}</a>
          </td>
          <td>{{ wishList.title }}</td>
          <td>{{ wishList.restricted }}</td>
          <td>
            <div *ngIf="wishList.customer">
              <a [routerLink]="['/customer', wishList.customer?.id, 'view']">{{ wishList.customer?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/wish-list', wishList.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/wish-list', wishList.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(wishList)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
